<div class="container-fluid resources-vm-page">

  <ol class="breadcrumb row" style="margin-bottom: 0px; ">
    <li class="active"><a href="#/resources">Resources</a></li>
    <li class="active"><a href="#/resources/virtual-machines">Virtual Machines</a></li>
    <li>{{vm.name}}</li>

    <ul class="nav nav-tabs nav-tabs-pf">
      <li ng-class="{active: currentSection == 'overview' || !currentSection}" ng-click="setCurrentSection('overview')">     <a>Overview</a></li>
      <li ng-class="{active: currentSection == 'network'}"                     ng-click="setCurrentSection('network')">     <a>Network Interface</a></li>
      <li ng-class="{active: currentSection == 'disks'}"                       ng-click="setCurrentSection('disks')">       <a>Disks</a></li>
      <li ng-class="{active: currentSection == 'snapshots'}"                   ng-click="setCurrentSection('snapshots')">   <a>Snapshots</a></li>
      <li ng-class="{active: currentSection == 'application'}"                 ng-click="setCurrentSection('application')"> <a>Application</a></li>
      <li ng-class="{active: currentSection == 'groups'}"                      ng-click="setCurrentSection('groups')">      <a>Affinity Groups</a></li>
      <li ng-class="{active: currentSection == 'permissions'}"                 ng-click="setCurrentSection('permissions')"> <a>Permissions</a></li>
      <li ng-class="{active: currentSection == 'sessions'}"                    ng-click="setCurrentSection('sessions')">    <a>Sessions</a></li>
    </ul>

    <div class="toolbar-pf-view-selector pull-right">
      <ul class="list-inline">
        <li ng-repeat="view in viewsList"
            ng-class="{'active': view.id === currentView}"
            title={{view.title}}>
          <a>
            <i class="view-selector {{view.iconClass}}" ng-click="viewSelected(view.id)"></i>
          </a>
        </li>
      </ul>
    </div>

  </ol>

  <div ng-if="currentView === 'dashboardView' && currentSection == 'overview'">
    <div class="row row-tile-pf" >
      <div class="col-xs-7 col-sm-7 col-md-7">
        <div pf-card head-title="Virtual Machine Utilization" hidetopborder="true">
          <div class="row" ng-if="loadingDone">
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div pf-utilization-chart
                   config="cpuUsageConfig"
                   donut-config="cpuUsageDonutConfig"
                   sparkline-config="cpuUsageSparklineConfig"
                   chart-data="cpuUsageData">

              </div>
              <span class="trend-footer-pf">Last 30 Days</span>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
              <div pf-utilization-chart
                   config="memoryUsageConfig"
                   donut-config="memoryUsageDonutConfig"
                   sparkline-config="memoryUsageSparklineConfig"
                   chart-data="memoryUsageData"></div>
            </div>
            <span class="trend-footer-pf">Last 30 Days</span>
          </div>
          <div ng-if="!loadingDone" class="spinner spinner-lg loading"></div>
        </div>
      </div>
      <div class="col-xs-5 col-sm-5 col-md-5">
        <div pf-card class="events-container" head-title="Events">
          <div class="events-body">
            <div class="event-types-container">
              <div class="event-type-container" ng-if="events.criticalEvents && events.criticalEvents.length > 0">
                <div class="event-type-header">
                  <span class="event-type-icon pficon pficon-error-circle-o"></span>
                  <span>{{events.criticalEvents.length}} Critical</span>
                </div>
                <div class="event-messages">
                  <div ng-repeat="event in events.criticalEvents">
                    <span class="message-text">{{event.message}}<span> {{event.date}}</span></span>
                  </div>
                </div>
              </div>
              <div class="event-type-container" ng-if="events.warningEvents && events.warningEvents.length > 0">
                <div class="event-type-header">
                  <span class="event-type-icon pficon pficon-warning-triangle-o"></span>
                  <span>{{events.warningEvents.length}} Warning</span>
                </div>
                <div class="event-messages">
                  <div class="event-message" ng-repeat="event in events.warningEvents">
                    <span class="message-text">{{event.message}}<span> {{event.date}}</span></span>
                  </div>
                </div>
              </div>
            </div>
            <div>
              <a class="pull-right events-viewer-button">View All Events</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row row-tile-pf">
      <div class="col-md-7">
        <div pf-card head-title="Virtual Machine Performance" sub-title="Last 7 Days - Total Used">
          <div class="row" ng-if="loadingDone">
            <div class="col-md-4">
              <div pf-trends-chart config="iopsTrendsConfig" chart-data="iopsTrendData" ng-if="loadingDone"></div>
            </div>
            <div class="col-md-4">
              <div pf-trends-chart config="ioBandWidthTrendsConfig" chart-data="ioBandWidthData" ng-if="loadingDone"></div>
            </div>
            <div class="col-md-4">
              <div pf-trends-chart config="ioLatencyTrendsConfig" chart-data="ioLatencyData" ng-if="loadingDone"></div>
            </div>
          </div>
          <div ng-if="!loadingDone" class="spinner spinner-lg loading"></div>
        </div>
      </div>
      <div class="col-md-5">
        <div pf-card head-title="Virtual Machine Networking" sub-title="Last 7 Days">
          <div class="row" ng-if="loadingDone">
            <div class="col-md-6">
              <div pf-trends-chart config="bandwidthInConfig" chart-data="bandwidthInData" ng-if="loadingDone"></div>
            </div>
            <div class="col-md-6">
              <div pf-trends-chart config="bandwidthOutConfig" chart-data="bandwidthOutData" ng-if="loadingDone"></div>
            </div>
          </div>
          <div ng-if="!loadingDone" class="spinner spinner-lg loading"></div>
        </div>
      </div>
    </div>
  </div>
  <div ng-if="!(currentView === 'dashboardView' && currentSection == 'overview')">
    <div class="container-fluid container-tiles-pf details-content rhev-body" ng-switch on="currentSection" style="min-height: 375px;">
      <div class="row row-tile-pf" ng-switch-default>
        <div rhev-nyi title="Overview"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="network">
        <div rhev-nyi title="Network Interface"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="disks">
        <div rhev-nyi title="Disks"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="snapshots">
        <div rhev-nyi title="Snapshots"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="application">
        <div rhev-nyi title="Application"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="groups">
        <div rhev-nyi title="Affinity Groups"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="permissions">
        <div rhev-nyi title="Permissions"></div>
      </div>
      <div class="row row-tile-pf" ng-switch-when="sessions">
        <div rhev-nyi title="Sessions"></div>
      </div>
    </div>
  </div>
</div>
