<div class="container-fluid container-tiles-pf containers-dashboard">

  <div class="row row-tile-pf" >
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="dataCenters" show-top-border="true"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="clusters" show-top-border="true"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="hosts" show-top-border="true"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="storageDomains" show-top-border="true"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="vms" show-top-border="true"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-2">
      <div pf-aggregate-status-card status="networks" show-top-border="true"></div>
    </div>
  </div>

  <div class="row row-tile-pf">
    <div class="col-md-12">
      <div pf-card head-title="Global Utilization" hidetopborder="true">
        <div class="row" ng-if="utilizationLoadingDone">
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div pf-utilization-chart
                 config="cpuUsageConfig"
                 donut-config="cpuUsageDonutConfig"
                 sparkline-config="cpuUsageSparklineConfig"
                 chart-data="cpuUsageData"
                 sparkline-chart-height="sparklineChartHeight"></div>
            <span class="trend-footer-pf">Last 30 Days</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div pf-utilization-chart
                 config="memoryUsageConfig"
                 donut-config="memoryUsageDonutConfig"
                 sparkline-config="memoryUsageSparklineConfig"
                 chart-data="memoryUsageData"
                 sparkline-chart-height="sparklineChartHeight"></div>
            <span class="trend-footer-pf">Last 30 Days</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div pf-utilization-chart
                 config="networkUsageConfig"
                 donut-config="networkUsageDonutConfig"
                 sparkline-config="networkUsageSparklineConfig"
                 chart-data="networkUsageData"
                 sparkline-chart-height="sparklineChartHeight"></div>
            <span class="trend-footer-pf">Last 30 Days</span>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-3">
            <div pf-utilization-chart
                 config="storageUsageConfig"
                 donut-config="storageUsageDonutConfig"
                 sparkline-config="storageUsageSparklineConfig"
                 chart-data="storageUsageData"
                 sparkline-chart-height="sparklineChartHeight"></div>
            <span class="trend-footer-pf">Last 30 Days</span>
          </div>
        </div>
        <div ng-if="!utilizationLoadingDone" class="spinner spinner-lg loading"></div>
      </div>
    </div>
  </div>

  <div class="row row-tile-pf row-tile-pf-last">
    <div class="col-md-12">
      <div rhev-heatmaps-card title="Node Utilization" hidetopborder="true"
           heatmaps="heatmaps" heatmap-chart-height="dashboardHeatmapChartHeight" column-sizing-class="col-xs-6 col-sm-6 col-md-3"
           heat-map-usage-legend-labels="nodeHeatMapUsageLegendLabels">
      </div>
    </div>
  </div>

  <!-- Utilization Drilldown Modal Dialog -->

  <div class="modal fade overutilization-dialog" id="utilDrilldown" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Overutilized Resources ({{utilizationDrillDown.title}})</h4>
        </div>
        <div class="modal-body">
          <!---- Hosts -->
          <div ng-if="overUtilizedHostsLoaded">
            <div class="row row-tile-pf">
              <div class="col-md-12">
                <div>Hosts ({{overUtilizedHosts.length}})</div>
              </div>
            </div>
            <div ng-if="overUtilizedHosts.length === 0" class="no-overutilized">
              There are currently no overutilized hosts
            </div>
            <div ng-if="overUtilizedHosts.length > 0" class="overutilized-container">
              <div class="overutilized-section">
                <span  ng-repeat="host in overUtilizedHosts | orderBy:'-percentageUsed'">
                  <div class="row">
                    <div class="col-md-2 text-right">
                      <a data-dismiss="modal" ng-click="loadHostDetails(host.uuid)">{{host.name}}</a>
                    </div>
                    <div class="col-md-9">
                      <div pf-utilization-bar-chart chart-data=host.utilBarChart.data units=host.utilBarChart.units
                           layout=layoutInline footer-label-format='percent' threshold-error="85" threshold-warning="60"></div>
                    </div>
                    <div class="col-md-1">
                      <span class="pficon {{host.utilBarChart.trendIcon}}"></span>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
          </br>
          <!---- Virtual Machines -->
          <div ng-if="overUtilizedVMsLoaded">
            <div class="row row-tile-pf">
              <div class="col-md-12">
                <div>Virtual Machines ({{overUtilizedVMs.length}})</div>
              </div>
            </div>
            <div ng-if="overUtilizedVMs.length === 0" class="no-overutilized">
              There are currently no overutilized virtual machines
            </div>
            <div ng-if="overUtilizedVMs.length > 0" class="overutilized-container">
              <div class="overutilized-section">
                <span ng-repeat="vm in overUtilizedVMs | orderBy:'-percentageUsed'">
                  <div class="row">
                    <div class="col-md-2 text-right">
                        <a data-dismiss="modal" ng-click="loadVMDetails(vm.uuid)">{{vm.name}}</a>
                    </div>
                    <div class="col-md-9">
                      <div pf-utilization-bar-chart chart-data=vm.utilBarChart.data units=vm.utilBarChart.units
                           layout=layoutInline footer-label-format='percent' threshold-error="85" threshold-warning="60"></div>
                    </div>
                    <div class="col-md-1">
                      <span class="pficon {{vm.utilBarChart.trendIcon}}"></span>
                    </div>
                  </div>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

</div>
