/* Patternfly Overrides */
.data-list-pf .list-group-item.active .pficon, .data-list-pf .list-group-item.active:hover .pficon {
  color: #333;
}
.data-list-pf .list-group-item .pficon {
  font-size: 18px;
}

/* Rhev Specifics */

.rhev-body {
  background: #f5f5f5;
}

.pf-fixed-body {
  padding-top: 140px;
}

.breadcrumb {
  margin-top: -20px;
  padding-right: 0px;
  margin: -20px -10px 0 -10px;

}

.breadcrumb-view-selector {
  display: block
}

.toolbar-pf-view-selector .active a {
  color: #0099d3;
  cursor: default;
}
.toolbar-pf-view-selector a {
  cursor: pointer;
  color: #222222;
}
.toolbar-pf-view-selector a:hover {
  color: #0099d3;
}

/*
 * Charts
 */

/* Heap map */
.heatmap-legend  {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-top: 15px;
  padding-bottom: 0;
  display: inline-block;
  position: relative;
}

.heatmap-legend-container {
  width: 100%;
  position: relative;
}

.heatmap-legend-container ul{
  list-style-type: none;
}

.heatmap-legend-container li{
  display: inline;
}

.heatmap-legend .color-box {
  width: 11px;
  height: 11px;
  margin-left: 5px;
  margin-right: 5px;
  list-style-type: none;
  float: left;
}

.heatmap-legend .legend-text {
  font-size: 11px;
  font-weight: normal;
  line-height: 11px;
  padding-right: 5px;
  list-style-type: none;
  float: left;
}

.rhev-table-header {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.rhev-table-contents {
  border: 1px solid #d1d1d1;
}

.rhev-table-title {
  font-size: 16px;
  font-weight: 400;
}

.rhev-field-title {
  float: left;
  font-size: 13px;
  font-weight: 700;
  margin-right: 5px;
}
.rhev-field-value {
  float: left;
  text-align: right;
  white-space: nowrap;
}

.data-list-pf {
  .rhev-column {
    float: left;
    padding: 2px 5px;
  }
  .rhev-column:first-of-type {
    padding-left: 25px;
  }

  .rhev-object-column {
    padding-top: 1px !important;
  }

  .rhev-label {
    color: #515151;
    font-size: 12px;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 5px;
  }

  .rhev-label.rhev-title {
    float: left;
    color: #515151;
    font-size: 13px;
    font-weight: 700;
    padding-top: 2px;
  }
  .rhev-icon-label.rhev-title {
    float: left;
    color: #515151;
    font-size: 13px;
    font-weight: 700;
  }

  .rhev-label.rhev-count {
    float: left;
    text-align: right;
    line-height: 24px;
    text-align: right;
    width: 32px;
  }

  .rhev-label.rhev-count-label {
    float: left;
    text-align: right;
    line-height: 24px;
    text-align: right;
    width: 64px;
  }

  .rhev-icon-label {
    float: left;
    color: #515151;
    font-size: 18px;
    vertical-align: middle;
    white-space: nowrap;
    padding-left: 5px;
  }
  .pficon.rhev-icon-label {
    color: #333;
    padding-top: 4px;
  }
}

.resources-cluster-list {
  height: 260px;

  .name-column {
    width: 110px;
  }
  .data-center-column {
    width: 170px;
  }
  .compatibility-column {
    width: 190px;
  }
  .cpu-type-column {
    width: 115px;
  }
  .host-column {
    width: 95px;

    .rhev-count {
      width: 55px;
    }
  }
  .vm-column {
    width: 160px;

    .rhev-count {
      width: 120px;
    }
  }
  .description-column {
    padding-left: 10px;
    .description {
      word-wrap: break-word;
      white-space:normal;
      width: 300px;
      float:left;
      padding-top: 2px;
    }
  }
}

.rhev-cluster-details {
  padding-left: 10px;
  padding-top: 15px;

  .nav-tabs {
    font-size: 12px;
  }

  .details-content {
    margin: 10px 0;
    padding-top: 20px;

    .card-pf {
      .card-pf {
        border-top: none;
        box-shadow: none;
      }
    }
  }
  .cluster-total-hosts {
    padding: 7px 0;
  }

  .heatmap-container {
    margin-top: 5px;
  }

  .host-status {

    .status-bar {
      text-align: right;
      padding-left: 5px;
      padding-right: 5px;
      margin-bottom: -30px;
    }

    .host-status-error {
      background-color: #bbbbbb;
      height: 15px;
      position: relative;
      z-index: 1002;
    }
    .host-status-maintenance {
      background-color: #F9D67A;
      height: 15px;
      top: -15px;
      position: relative;
      z-index: 1001;
    }
    .host-status-running {
      background-color: #bee1f4;
      width: 100%;
      height: 15px;
      position: relative;
      top: -30px;
      z-index: 1000;
    }
  }

  .host-utilization .heatmap-container:first-of-type {
    margin-bottom: 10px;
  }

}

.events-container {
  .events-body {
    display: inline-block;

    .events-viewer-button {
      cursor: pointer;
      padding-bottom: 5px;
    }
  }

  .event-types-container {
    overflow: hidden;

    .event-type-container {
      display: inline-block;
      margin-top: 5px;
    }
    .event-type-container:first-of-type {
      margin-top: 0px;
    }
  }

  .event-type-header {
    font-size: 18px;

  }
  .pficon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .event-messages {
    .event-message {
      font-size: 12px;
      padding-top: 5px;
    }
    .event-message:first-of-type {
      padding-top: 0px;
    }
    .message-text {
      word-wrap: break-word;
      white-space:normal;

      span {
        color: #bbbbbb;
      }
    }
  }
}

.rhev-cluster-details .events-container .event-types-container {
  height: 216px;
}

.resources-vm-page .events-container .event-types-container {
  height: 345px;
}

.nav-tabs a {
  cursor: pointer;
}

.resources-vms-list {
  .name-column {
    width: 80px;
  }
  .host-column {
    width: 100px;
  }
  .ip-column {
    width: 150px;
  }
  .fqdn-column {
    width: 170px;
  }
  .cluster-column {
    width: 100px;
  }
  .data-center-column {
    width: 130px;
  }
  .memory-column {
    padding-left: 10px;
  }
  .cpu-column {
    padding-left: 10px;
  }
  .memory-column {
    padding-left: 10px;
  }

  .percentage-used-bar {
    width : 80px;
    height: 15px;
    float: left;
    padding: 5px;
    text-align: right;

    .percentage-used-bar-unused {
      height: 15px;
      background-color: #D1D1D1;
      border: 1px solid #000;
    }
    .percentage-used-bar-filled {
      height: 15px;
      top: -15px;
      position: relative;
      z-index: 100;
      border: 1px solid #000;
      border-right: none;
    }
    .ok-status {
      background-color: #d4f0fa;
    }
    .warn-status {
      background-color: #F9D67A;
    }
    .error-status {
      background-color: #EC7A08;
    }
    .critical-status {
      background-color: #CE0000;
    }
  }
}

.resources-vm-page {
  .toolbar-pf {
    padding-bottom: 10px;
    border-bottom: none;
  }
}

.overutilization-dialog {
  h4 {
    font-size: 18px;
    font-weight: 800;
  }

  a {
    vertical-align: middle;
  }

  .modal-dialog  {
    width:55%;
    height:55%;
  }

  .modal-header {
    border-bottom: 1px solid #d1d1d1;
  }
  .modal-footer{
    background-color: #fafafa;
    border-top: 1px solid #d1d1d1;
  }

  .no-overutilized {
    padding: 20px;
  }

  .overutilized-container {
    padding: 10px;
  }

  .overutilized-section {
    max-height:250px;
    overflow-y:auto;
    overflow-x:hidden;
  }

  .row-tile-pf {
    font-size: 14px;
    font-weight: 300;
  }

  .overutilized-section .progress-container.progress-description-left {
    padding-left: 0px;
  }

  .overutilized-section .progress-label-right .progress-bar span {
    margin-right: 20px;
  }

  .overutilized-section .col-md-2.text-right {
    padding-left: 0px;
    padding-right: 0px;
  }

  .overutilized-section .col-md-1 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .overutilized-section .col-md-9 {
    padding-right: 0px;
  }
}


